.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  transition: transform .4s ease;
  &._hide {
    transform: translateY(-100%);
  }
  &__top {
    position: relative;
    padding-bottom: 20px;
    background-color: white;
    z-index: 10;
    @include laptop-min {
      padding: 20px 0px;
    }
    @include tablet {
      padding: 15px 0px;
    }
  }
  &__top-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    gap: 30px;
    @include laptop-min {
      display: flex;
      align-items: center;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 70px;
    @include laptop {
      gap: 30px;
    }

    &:first-child {
      align-items: end;
      @include laptop-min {
        display: none;
      }
    }
    &:nth-child(3) {
      justify-content: end;
      transform: translateY(10px);
      @include laptop-min {
        margin-left: auto;
        transform: translateY(0);
      }
      @include tablet {
        display: none;
      }
    }
  }
  &__community-btn {
    position: relative;
    display: flex;
    align-items: end;
    padding: 20px;
    background-color: var(--primary);
    min-height: 80px;
    width: fit-content;
    white-space: nowrap;

    font-size: 18px;
    color: white;
    transition: background-color 0.2s ease;
    z-index: 1;
    @include hover {
      background-color: var(--primary-dark);
    }
    @include laptop-middle {
      font-size: 16px;
    }
  }
  &__address {
    font-size: 18px;
    font-weight: 300;
    max-width: 200px;
    width: fit-content;
    @include laptop-middle {
      font-size: 16px;
    }
  }
  &__logo {
    display: block;
    width: 120px;
    align-self: flex-end;
    @include tablet {
      width: 90px;
    }

    img {
      width: 100%;
    }
  }
  &__social {
    display: flex;
    align-self: center;
    gap: 20px;
    @include laptop-middle {
      gap: 15px;
    }
  }
  &__social-btn {
    width: 30px;
    height: 30px;
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.7;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__mail-btn {
    font-size: 24px;
    color: var(--judge);
    border-bottom: 1px dotted currentColor;
    align-self: center;
    transition: color 0.2s ease;
    @include hover {
      color: var(--primary);
    }
    @include laptop-middle {
      font-size: 18px;
    }
  }
  &__burger-btn {
    display: none;
    @include laptop-min {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 30px;
      height: 30px;
      gap: 5px;
      color: var(--primary);
      transition: color 0.2s ease;
    }
    @include tablet {
      margin-left: auto;
    }
    @include hover {
      color: var(--primary-dark);
    }

    div {
      width: 100%;
      height: 3px;
      background-color: currentColor;
    }
  }
  &__bottom {
    position: relative;
    background-color: var(--gray);
    transition: transform .4s ease;
    @include laptop-min {
      display: none;
    }

    &._hide {
      transform: translateY(-100%);
      z-index: -1;
    }
  }
  &__list {
    @include flex-between;
    gap: 20px;
    @include laptop-middle {
      gap: 15px;
    }

    a {
      position: relative;
      display: block;
      padding: 20px 0px;
      font-size: 18px;
      transition: color .2s ease;

      @include hover {
        color: var(--primary);
        &::before {
          right: 0;
        }
      }

      @include laptop {
        font-size: 16px;
      }

      @include laptop-middle {
        font-size: 15px
      }
    
      &::before {
        position: absolute;
        content: "";
        left: 0;
        right: 100%;
        bottom: 0;
        height: 3px;
        background-color: var(--primary);
        transition: right .2s ease;
      }
    }
  }
}
