.s-family-values {
  &__tag {
    width: fit-content;
    padding: 15px;
    background-color: var(--gray);
    font-size: 18px;
    text-transform: uppercase;
    color: var(--judge);
    margin-bottom: 12px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    row-gap: 50px;
    margin-bottom: 45px;

    @include laptop-middle {
      gap: 40px;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    a.s-family-values__item {
      width: fit-content;
      @include hover {
        svg {
          transform: rotate(45deg);
        }
      }
    }
  }
  &__item {
    position: relative;
    padding: 20px 0px 20px 50px;
    z-index: 1;
    @include tablet-min {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-column: 2 span;
      width: fit-content;
      margin: 0 auto;
      text-align: center;
      padding-left: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: var(--gray);
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      z-index: -1;
      @include tablet-min {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    svg {
      width: 17px;
      height: 17px;
      margin-bottom: 7px;
      color: var(--primary);
      transition: transform .2s ease;
    }
  }
  &__item-num {
    font-weight: 700;
    font-size: 28px;
    color: var(--primary);
    @include laptop-middle {
      font-size: 24px;
    }
    @include tablet-min {
      font-size: 22px;
      margin-bottom: 5px;
    }
  }
  &__item-val {
    font-size: 22px;
    @include laptop-middle {
      font-size: 20px;
    }
    @include tablet-min {
      font-size: 18px;
    }
  }
  &__bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    row-gap: 25px;

    .content {
      flex: 1;
      @include tablet {
        flex: none;
        width: 100%;
      }
    }
  }
}
