.content {
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
  margin: 0;

  @include tablet {
    font-size: 16px;
  }

  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
      @include tablet {
        margin-bottom: 16px;
      }
    }
  }
  ul {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  a {
    color: var(--primary);
    text-decoration: underline;
    @include hover {
      text-decoration: none;
    }
  }
}

.sect-m {
  margin: 90px 0px;
  @include laptop-min {
    margin: 60px 0px;
  }
}
.sect-p {
  padding: 90px 0px;
  @include laptop-min {
    padding: 60px 0px;
  }
}

.sect-head {
  @include flex-between;
  gap: 30px;
  margin-bottom: 45px;
  @include laptop-min {
    margin-bottom: 30px;
  }

  .s-title {
    margin: 0;
  }
}

.s-gray {
  background-color: var(--gray);
}
.s-white {
  background-color: white;
}

.mt-0 {
  margin-top: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}