<section class="s-archive-team sect-p s-gray">
  <div class="container">
    <div class="s-archive-team__wrapper-list">
      <ul class="category-list s-archive-team__list">
        <li><a href="#" class="_active">СЗФО</a></li>
        <li><a href="#">ДФО</a></li>
        <li><a href="#">ПФО</a></li>
        <li><a href="#">СКФО</a></li>
        <li><a href="#">СФО</a></li>
        <li><a href="#">УрФО</a></li>
        <li><a href="#">ЦФО</a></li>
        <li><a href="#">ЮФО</a></li>
      </ul>
    </div>
    <h2 class="s-archive-team__category-name">
      Северо-Западный федеральный округ
    </h2>
    <div class="s-archive-team__wrapper">
      <div class="card-spec">
        <a href="#" class="card-spec__gallery">
          <img src="@img/team-people.jpg" alt="image" class="card-spec__img" />
        </a>
        <div class="card-spec__body">
          <a href="#" class="card-spec__info">
            <h5 class="card-spec__title">Адель Линнарович Загретдинов</h5>
            <p class="card-spec__content">
              Руководитель рег. отд. Республики Татарстан
            </p>
          </a>
          <a href="#modal-spec" data-fancybox class="btn-s card-spec__btn"
            >Связаться</a
          >
        </div>
      </div>
      <div class="card-spec">
        <a href="#" class="card-spec__gallery">
          <img src="@img/team-people.jpg" alt="image" class="card-spec__img" />
        </a>
        <div class="card-spec__body">
          <a href="#" class="card-spec__info">
            <h5 class="card-spec__title">Волков Олег Гаврилович</h5>
            <p class="card-spec__content">
              Руководитель рег. отд. Республики Чувашии
            </p>
          </a>
          <a href="#modal-spec" data-fancybox class="btn-s card-spec__btn"
            >Связаться</a
          >
        </div>
      </div>
      <div class="card-spec">
        <a href="#" class="card-spec__gallery">
          <img src="@img/team-people.jpg" alt="image" class="card-spec__img" />
        </a>
        <div class="card-spec__body">
          <a href="#" class="card-spec__info">
            <h5 class="card-spec__title">Адель Линнарович Загретдинов</h5>
            <p class="card-spec__content">
              Руководитель рег. отд. Республики Татарстан
            </p>
          </a>
          <a href="#modal-spec" data-fancybox class="btn-s card-spec__btn"
            >Связаться</a
          >
        </div>
      </div>
      <div class="card-spec">
        <a href="#" class="card-spec__gallery">
          <img src="@img/team-people.jpg" alt="image" class="card-spec__img" />
        </a>
        <div class="card-spec__body">
          <a href="#" class="card-spec__info">
            <h5 class="card-spec__title">Адель Линнарович Загретдинов</h5>
            <p class="card-spec__content">
              Руководитель рег. отд. Республики Татарстан
            </p>
          </a>
          <a href="#modal-spec" data-fancybox class="btn-s card-spec__btn"
            >Связаться</a
          >
        </div>
      </div>
      <div class="card-spec">
        <a href="#" class="card-spec__gallery">
          <img src="@img/team-people.jpg" alt="image" class="card-spec__img" />
        </a>
        <div class="card-spec__body">
          <a href="#" class="card-spec__info">
            <h5 class="card-spec__title">Адель Линнарович Загретдинов</h5>
            <p class="card-spec__content">
              Руководитель рег. отд. Республики Татарстан
            </p>
          </a>
          <a href="#modal-spec" data-fancybox class="btn-s card-spec__btn"
            >Связаться</a
          >
        </div>
      </div>
      <div class="card-spec">
        <a href="#" class="card-spec__gallery">
          <img src="@img/team-people.jpg" alt="image" class="card-spec__img" />
        </a>
        <div class="card-spec__body">
          <a href="#" class="card-spec__info">
            <h5 class="card-spec__title">Адель Линнарович Загретдинов</h5>
            <p class="card-spec__content">
              Руководитель рег. отд. Республики Татарстан
            </p>
          </a>
          <a href="#modal-spec" data-fancybox class="btn-s card-spec__btn"
            >Связаться</a
          >
        </div>
      </div>
      <div class="card-spec">
        <a href="#" class="card-spec__gallery">
          <img src="@img/team-people.jpg" alt="image" class="card-spec__img" />
        </a>
        <div class="card-spec__body">
          <a href="#" class="card-spec__info">
            <h5 class="card-spec__title">Адель Линнарович Загретдинов</h5>
            <p class="card-spec__content">
              Руководитель рег. отд. Республики Татарстан
            </p>
          </a>
          <a href="#modal-spec" data-fancybox class="btn-s card-spec__btn"
            >Связаться</a
          >
        </div>
      </div>
      <div class="card-spec">
        <a href="#" class="card-spec__gallery">
          <img src="@img/team-people.jpg" alt="image" class="card-spec__img" />
        </a>
        <div class="card-spec__body">
          <a href="#" class="card-spec__info">
            <h5 class="card-spec__title">Адель Линнарович Загретдинов</h5>
            <p class="card-spec__content">
              Руководитель рег. отд. Республики Татарстан
            </p>
          </a>
          <a href="#modal-spec" data-fancybox class="btn-s card-spec__btn"
            >Связаться</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
