<section class="s-books sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Книги</h2>
      <div class="slider-nav">
        <div class="slider-btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-slide-prev"></use>
          </svg>
        </div>
        <div class="slider-btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-slide-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-books__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-books__slide">
          <div class="s-books__slide-gallery">
            <img src="@img/book.jpg" alt="image" class="s-books__slide-img" />
          </div>
          <div class="s-books__slide-body">
            <h5 class="s-books__slide-title">“Институт семьи”</h5>
            <p class="content s-books__slide-content">
              Книга содержит психолого-педагогические нормативы развития
              отцовства в процессе воспитания своего ребенка в перинатальный и
              ранний периоды жизни, а также рекомендации по обеспечению разумных
              условий воспитания конструктивного характера ребенка в структуре
              отцовско-материнского согласования в достижении
              детско-родительской взаимности.
            </p>
            <a href="#" class="btn-s s-books__slide-btn">Перейти</a>
          </div>
        </div>
        <div class="swiper-slide s-books__slide">
          <div class="s-books__slide-gallery">
            <img src="@img/book.jpg" alt="image" class="s-books__slide-img" />
          </div>
          <div class="s-books__slide-body">
            <h5 class="s-books__slide-title">“Институт семьи”</h5>
            <p class="content s-books__slide-content">
              Книга содержит психолого-педагогические нормативы развития
              отцовства в процессе воспитания своего ребенка в перинатальный и
              ранний периоды жизни, а также рекомендации по обеспечению разумных
              условий воспитания конструктивного характера ребенка в структуре
              отцовско-материнского согласования в достижении
              детско-родительской взаимности.
            </p>
            <a href="#" class="btn-s s-books__slide-btn">Перейти</a>
          </div>
        </div>
        <div class="swiper-slide s-books__slide">
          <div class="s-books__slide-gallery">
            <img src="@img/book.jpg" alt="image" class="s-books__slide-img" />
          </div>
          <div class="s-books__slide-body">
            <h5 class="s-books__slide-title">“Институт семьи”</h5>
            <p class="content s-books__slide-content">
              Книга содержит психолого-педагогические нормативы развития
              отцовства в процессе воспитания своего ребенка в перинатальный и
              ранний периоды жизни, а также рекомендации по обеспечению разумных
              условий воспитания конструктивного характера ребенка в структуре
              отцовско-материнского согласования в достижении
              детско-родительской взаимности.
            </p>
            <a href="#" class="btn-s s-books__slide-btn">Перейти</a>
          </div>
        </div>
        <div class="swiper-slide s-books__slide">
          <div class="s-books__slide-gallery">
            <img src="@img/book.jpg" alt="image" class="s-books__slide-img" />
          </div>
          <div class="s-books__slide-body">
            <h5 class="s-books__slide-title">“Институт семьи”</h5>
            <p class="content s-books__slide-content">
              Книга содержит психолого-педагогические нормативы развития
              отцовства в процессе воспитания своего ребенка в перинатальный и
              ранний периоды жизни, а также рекомендации по обеспечению разумных
              условий воспитания конструктивного характера ребенка в структуре
              отцовско-материнского согласования в достижении
              детско-родительской взаимности.
            </p>
            <a href="#" class="btn-s s-books__slide-btn">Перейти</a>
          </div>
        </div>
        <div class="swiper-slide s-books__slide">
          <div class="s-books__slide-gallery">
            <img src="@img/book.jpg" alt="image" class="s-books__slide-img" />
          </div>
          <div class="s-books__slide-body">
            <h5 class="s-books__slide-title">“Институт семьи”</h5>
            <p class="content s-books__slide-content">
              Книга содержит психолого-педагогические нормативы развития
              отцовства в процессе воспитания своего ребенка в перинатальный и
              ранний периоды жизни, а также рекомендации по обеспечению разумных
              условий воспитания конструктивного характера ребенка в структуре
              отцовско-материнского согласования в достижении
              детско-родительской взаимности.
            </p>
            <a href="#" class="btn-s s-books__slide-btn">Перейти</a>
          </div>
        </div>
        <div class="swiper-slide s-books__slide">
          <div class="s-books__slide-gallery">
            <img src="@img/book.jpg" alt="image" class="s-books__slide-img" />
          </div>
          <div class="s-books__slide-body">
            <h5 class="s-books__slide-title">“Институт семьи”</h5>
            <p class="content s-books__slide-content">
              Книга содержит психолого-педагогические нормативы развития
              отцовства в процессе воспитания своего ребенка в перинатальный и
              ранний периоды жизни, а также рекомендации по обеспечению разумных
              условий воспитания конструктивного характера ребенка в структуре
              отцовско-материнского согласования в достижении
              детско-родительской взаимности.
            </p>
            <a href="#" class="btn-s s-books__slide-btn">Перейти</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar s-books__scrollbar"></div>
  </div>
</section>
