<section class="sect-p s-white">
  <div class="container">
    <h2 class="s-title">Государственные награды в сфере правозащитной деятельности</h2>
    <div class="content">
      <ul>
        <li>
          Почетный работник высшего профессионального образования РФ (2009) за
          заслуги в области образования;
        </li>
        <li>
          Кавалер ордена М.А. Балакирева «За беззаветное служение
          художественному образованию России» (2014);
        </li>
        <li>
          Памятная медаль «Союза женщин России» за заслуги сохранения
          традиционных семейных ценностей (2021);
        </li>
        <li>
          Благодарственные письма Президента РФ за активное участие в
          организации и проведении общественных проектов, направленных на
          социальную поддержку граждан (2020, 2021 гг.); Золотой знак «Сердце и
          лебедь» Международного Центра гуманной педагогики (2022);
        </li>
        <li>
          28 дипломов и благодарностей Администраций (губернаторов и глав
          городов) Тверской, Вологодской, Петропавловской, Екатеринбургской,
          Московской областей за вклад и разработки проектов системы образования
          РФ и социально ориентированных проектов помощи семье;
        </li>
        <li>
          Организация и успешная реализация деятельности Института
          арт-педагогики (генеральный директор) в научно-исследовательской
          деятельности и профессиональной переподготовке
          психолого-педагогических и управленческих кадров;
        </li>
        <li>
          Научное руководство диссертациями: успешные защиты двух диссертаций
          кандидатов педагогических наук (Зарецкой А.Ю. и Скворцовой Т.П.).
          Включен в перечень Известных ученых России РАЕ (Российской Академии
          Естествознания) <a href="#" target="_blank">famous-scientists.ru</a>
        </li>
      </ul>
    </div>
  </div>
</section>
