<section class="s-family-values sect-m">
  <div class="container">
    <div class="s-family-values__tag">с 2016 года</div>
    <h2 class="s-title">Мы содействуем в укреплении семейных ценностей</h2>
    <div class="s-family-values__wrapper">
      <div class="s-family-values__item">
        <div class="s-family-values__item-num">> 350 000</div>
        <div class="s-family-values__item-val">активистов</div>
      </div>
      <div class="s-family-values__item">
        <div class="s-family-values__item-num">67</div>
        <div class="s-family-values__item-val">субъектов</div>
      </div>
      <div class="s-family-values__item">
        <div class="s-family-values__item-num">> 1 000 000</div>
        <div class="s-family-values__item-val">участников</div>
      </div>
      <div class="s-family-values__item">
        <div class="s-family-values__item-num">> 350 000</div>
        <div class="s-family-values__item-val">активистов</div>
      </div>
      <div class="s-family-values__item">
        <div class="s-family-values__item-num">67</div>
        <div class="s-family-values__item-val">субъектов</div>
      </div>
      <div class="s-family-values__item">
        <div class="s-family-values__item-num">> 1 000 000</div>
        <div class="s-family-values__item-val">участников</div>
      </div>
    </div>
    <div class="s-family-values__wrapper">
      <a href="#" class="s-family-values__item">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
        <div class="s-family-values__item-val">Указы Президента</div>
      </a>
      <a href="#" class="s-family-values__item">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
        <div class="s-family-values__item-val">Стратегия</div>
      </a>
      <a href="#" class="s-family-values__item">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
        <div class="s-family-values__item-val">Национальные проекты</div>
      </a>
    </div>
    <div class="s-family-values__bottom">
      <p class="content">
        Всероссийская Общественная Организация поддержки института семьи и
        традиционных семейных ценностей «Союз отцов» действует с 2016 года . Его
        ключевая миссия - содействие в укреплении традиций в семьях на
        территории России и повышение роли отцовства в реализации воспитательной
        и культурно-образовательной функции семьи.
      </p>
      <p class="content">
        На территории страны объединение представлено в 67 субъектах, в них
        функционируют более 3425 отцовских сообществ и состоят более 350 тысяч
        активистов. В 2024 году в « Союзе отцов» появилось молодёжное крыло
        организации «Сыны Отечества» и развернулась масштабная работа под
        руководством Зампредседателя Правительства РФ Татьяны Голиковой в рамках
        реализации программных задач Года Семьи.
      </p>
    </div>
  </div>
</section>
