<section class="s-federal-projects s-bg">
  <div class="container">
    <div class="swiper s-federal-projects__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-federal-projects__slide">
          <div class="s-federal-projects__slide-gallery">
            <img src="@img/new.jpg" alt="image" />
          </div>
          <div class="s-federal-projects__slide-body">
            <a href="#" target="_blank" class="btn-s s-federal-projects__btn"
              >Перейти</a
            >
            <h5 class="s-federal-projects__title">Папа года</h5>
            <div class="content s-federal-projects__content">
              <p>
                Конкурс для отцов, которые имеют активную социальную и
                воспитательную позицию. Это прекрасная возможность проявить свои
                лучшие качества, показать пример отцовской заботы и
                ответственности за семью, воспитание детей, рассказать о
                поддержке и взаимодействии с образовательной организацией в
                интересах детей.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-federal-projects__slide">
          <div class="s-federal-projects__slide-gallery">
            <img src="@img/new.jpg" alt="image" />
          </div>
          <div class="s-federal-projects__slide-body">
            <h5 class="s-federal-projects__title">Папа года</h5>
            <a href="#" target="_blank" class="btn-s s-federal-projects__btn"
              >Перейти</a
            >
            <div class="content s-federal-projects__content">
              <p>Отношения между детьми и родителями - важная ценность.</p>
              <p>Темы:</p>
              <ul>
                <li>Трудиться с радостью</li>
                <li>Нести духовность</li>
                <li>СЛУЖИТЬ ОБЩЕСТВУ</li>
                <li>Традиция</li>
                <li>Созидать будущее</li>
                <li>Забота о здоровье</li>
                <li>РАСТИ ПРОФЕССИОНАЛЬНО</li>
                <li>БЕРЕЧЬ ПРИРОДУ</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-federal-projects__slide">
          <div class="s-federal-projects__slide-gallery">
            <img src="@img/new.jpg" alt="image" />
          </div>
          <div class="s-federal-projects__slide-body">
            <a href="#" target="_blank" class="btn-s s-federal-projects__btn"
              >Перейти</a
            >
            <h5 class="s-federal-projects__title">Папа года</h5>
            <div class="content s-federal-projects__content">
              <p>Отцы на помощь Мамам</p>
              <ul>
                <li>
                  Проведение мастер-классов известными поварами - обучение от
                  первых азов приготовления вкусной, здоровой и полезной пищи до
                  создания настоящих кулинарных шедевров.
                </li>
                <li>
                  Изучение национальных блюд и культур народов нашей страны, тем
                  самым, привлекается внимание к семейным традициям разных
                  народов одной большой страны
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-federal-projects__slide">
          <div class="s-federal-projects__slide-gallery">
            <img src="@img/new.jpg" alt="image" />
          </div>
          <div class="s-federal-projects__slide-body">
            <a href="#" target="_blank" class="btn-s s-federal-projects__btn"
              >Перейти</a
            >
            <h5 class="s-federal-projects__title">Папа года</h5>
            <div class="content s-federal-projects__content">
              <p>
                Конкурс для отцов, которые имеют активную социальную и
                воспитательную позицию. Это прекрасная возможность проявить свои
                лучшие качества, показать пример отцовской заботы и
                ответственности за семью, воспитание детей, рассказать о
                поддержке и взаимодействии с образовательной организацией в
                интересах детей.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-federal-projects__slide">
          <div class="s-federal-projects__slide-gallery">
            <img src="@img/new.jpg" alt="image" />
          </div>
          <div class="s-federal-projects__slide-body">
            <a href="#" target="_blank" class="btn-s s-federal-projects__btn"
              >Перейти</a
            >
            <h5 class="s-federal-projects__title">Папа года</h5>
            <div class="content s-federal-projects__content">
              <p>Отношения между детьми и родителями - важная ценность.</p>
              <p>Темы:</p>
              <ul>
                <li>Трудиться с радостью</li>
                <li>Нести духовность</li>
                <li>СЛУЖИТЬ ОБЩЕСТВУ</li>
                <li>Традиция</li>
                <li>Созидать будущее</li>
                <li>Забота о здоровье</li>
                <li>РАСТИ ПРОФЕССИОНАЛЬНО</li>
                <li>БЕРЕЧЬ ПРИРОДУ</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide s-federal-projects__slide">
          <div class="s-federal-projects__slide-gallery">
            <img src="@img/new.jpg" alt="image" />
          </div>
          <div class="s-federal-projects__slide-body">
            <a href="#" target="_blank" class="btn-s s-federal-projects__btn"
              >Перейти</a
            >
            <h5 class="s-federal-projects__title">Папа года</h5>
            <div class="content s-federal-projects__content">
              <p>Отцы на помощь Мамам</p>
              <ul>
                <li>
                  Проведение мастер-классов известными поварами - обучение от
                  первых азов приготовления вкусной, здоровой и полезной пищи до
                  создания настоящих кулинарных шедевров.
                </li>
                <li>
                  Изучение национальных блюд и культур народов нашей страны, тем
                  самым, привлекается внимание к семейным традициям разных
                  народов одной большой страны
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-nav s-federal-projects__slider-nav">
      <div class="slider-btn _prev">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-slide-prev"></use>
        </svg>
      </div>
      <div class="slider-btn _next">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-slide-next"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
