<section class="s-gallery sect-p s-white pt-0">
  <div class="container">
    <div class="swiper s-gallery__slider">
      <div class="swiper-wrapper">
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
    <div class="slider-nav _center">
        <div class="slider-btn _gray _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-slide-prev"></use>
          </svg>
        </div>
        <div class="slider-btn _gray _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-slide-next"></use>
          </svg>
        </div>
      </div>
  </div>
</section>