<section class="s-gallery sect-p s-white">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Фотографии с мероприятий</h2>
      <div class="slider-nav">
        <div class="slider-btn _gray _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-slide-prev"></use>
          </svg>
        </div>
        <div class="slider-btn _gray _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-slide-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper gallery-slider" id="gallery-slider">
      <div class="swiper-wrapper">
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide gallery-slider__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide gallery-slider__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide gallery-slider__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide gallery-slider__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide gallery-slider__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide gallery-slider__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide gallery-slider__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a href="@img/gallery.jpg" data-fancybox="gallery" class="swiper-slide gallery-slider__slide">
          <img src="@img/gallery.jpg" alt="image" />
        </a>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>
