<section class="s-help sect-p s-white">
  <div class="container">
    <h2 class="s-title">Взаимопомощь, добровольчество и гуманитарные миссии</h2>
    <div class="s-help__wrapper">
      <div class="content">
        <p>
          С первого дня с 22.02.2022 года с момента начала СВО направил
          деятельность на помощь ДНР. Из состава общественной организации ВОО
          «СОЮЗА ОТЦОВ» была выделена активная часть отцов, которая включилась в
          встречу вынужденных переселенцев из ДНР - из 2000 переселенцев, Совет
          отцов курирует 500 человек. Им в составе команды были организованы не
          только встречи и сопровождения в поездах, дальнейшее и курирование в
          Пунктах Временного Размещения в г. Зеленый Город, Нижегородской
          Области. Общественная организация под его руководством взяла
          курирование и сопровождение над более чем 500 человек из ДНР , при
          этом это многосторонняя помощь, которую они осуществляют и по
          сегодняшний день.
        </p>
      </div>
      <div class="content">
        <p>
          Спектр оказания помощи вынужденных переселенцев из ДНР от приобретения
          жизнен важных препаратов и средств жизнедеятельности, логистического
          сопровождения по медицинским и жизненным потребностям. Решали вопросы
          по поиску и розыску родственников пропавших, а также вопросы
          воссоединения семей в плоть до их размещения в ПВР Нижегородской
          Области. Помогали семьям вернуться на Родину в ДНР путем отправки,
          покупки билетов и необходимой помощи по запросу.
        </p>
        <p>
          За период с 22.02.2022 года совместно с АНО «Ветеранами Боевых
          Действий» было доставлено в более 100 гуманитарных конвоев, 1300
          тонн гуманитарного груза на территорию ДНР, ЛНР, Запорожской и
          Херсонских Областей, передано более 50 единиц внедорожного транспорта
          и спецтехники.
        </p>
      </div>
    </div>
    <a href="#" target="_blank" class="btn-s s-help__btn">Пожертвовать 1000 рублей для СВО</a>
  </div>
</section>
