<section class="sect-p s-white s-literature">
  <div class="container">
    <h2 class="s-title">Список литературы</h2>
    <div class="content s-literature__content">
      <p>
        1.Элитное образование России: исторический опыт и современность: монография. - Тверь, 2008. - 350 с. (в соавторстве с М.В. Богуславским, В.М. Лобзаровым, А.Б. Корзиным)
      </p>
      <p>
        2. Арт-педагогическое сопровождение духовно-нравственного развития личности: монография. - Тверь, 2008. - 280 с. (в соавторстве с А.Ю. Сметаниной)
      </p>
      <p>
        3. Арт-педагогика нравственности: монография. - Тверь: Изд-во ТвГУ, 2010. - 320 с.
      </p>
      <p>
        4.Теоретические основы арт-педагогики: монография. - Лейпциг (Германия): LAP LAMBERT, 2012. - 328 с.
      </p>
      <p>
        5. Арт-педагогическая профилактика негативизма детей: монография - Тверь, изд-во ТвГУ, 2017. - 238 с. (в соавторстве со Скворцовой Т.П.)
      </p>
      <p>
        6. Отцовское счастье: быть в согласии с ближними: научно-популярное издание. - М.: КТК Галактика, 2020. - 320 с. 8.
      </p>
      <p>
        7. Институт семьи - основа безопасности ребенка и государства. - М.: ООО Традиция, 2024. - 132 с.
      </p>
    </div>
  </div>
</section>