<section class="s-move sect-m">
  <div class="container">
    <h2 class="s-title">«Тимуровское движение»</h2>
    <ul class="list s-move__list">
      <li>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-check"></use>
        </svg>
        <span
          >Шефство над ветеранами ВОВ, ветеранами СВО, инвалидами,
          малоподвижными гражданами, трудными подростками</span
        >
      </li>
      <li>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-check"></use>
        </svg>
        <span>Обучающиеся школ, члены Молодёжного крыла</span>
      </li>
      <li>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-check"></use>
        </svg>
        <span>Поддержка</span>
      </li>
      <li>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-check"></use>
        </svg>
        <span>Вовлечение трудных подростков в  жизнь добровольчества </span>
      </li>
      <li>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-check"></use>
        </svg>
        <span>Вовлечение трудных подростков в  жизнь добровольчества </span>
      </li>
    </ul>
    <div class="content">
      <p>
        В основе любого добровольческого движения лежит принцип: хочешь
        почувствовать себя человеком – помоги другому.Тимуровское движение, это
        всего лишь инструмент, который позволит воспитать или перевоспитать
        достойную, важную для самого себя и государства личность.
      </p>
    </div>
    <div
      class="swiper gallery-slider s-move__slider"
      id="gallery-slider"
    >
      <div class="swiper-wrapper">
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide gallery-slider__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide gallery-slider__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide gallery-slider__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide gallery-slider__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide gallery-slider__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide gallery-slider__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide gallery-slider__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide gallery-slider__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
    <div class="slider-nav _center">
      <div class="slider-btn _prev">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-slide-prev"></use>
        </svg>
      </div>
      <div class="slider-btn _next">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-slide-next"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
