<section class="s-news sect-m">
  <div class="container tabs slider-changes-container s-news__container">
    <div class="sect-head">
      <h2 class="s-title">Новости</h2>
      <div data-add-tab="tab-1" class="_active">
        <div class="slider-nav">
          <div class="slider-btn _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-slide-prev"></use>
            </svg>
          </div>
          <div class="slider-btn _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-slide-next"></use>
            </svg>
          </div>
        </div>
      </div>
      <div data-add-tab="tab-2">
        <div class="slider-nav">
          <div class="slider-btn _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-slide-prev"></use>
            </svg>
          </div>
          <div class="slider-btn _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-slide-next"></use>
            </svg>
          </div>
        </div>
      </div>
      <div data-add-tab="tab-3">
        <div class="slider-nav">
          <div class="slider-btn _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-slide-prev"></use>
            </svg>
          </div>
          <div class="slider-btn _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-slide-next"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="s-news__head-row">
      <div class="category-list s-news__list">
        <li>
          <a data-tab-btn="tab-1" data-slider-btn="slider-1" class="_active"
            >Все</a
          >
        </li>
        <li>
          <a data-tab-btn="tab-2" data-slider-btn="slider-2">Телеграм</a>
        </li>
        <li>
          <a data-tab-btn="tab-3" data-slider-btn="slider-3">ВКонтакте</a>
        </li>
      </div>
      <div data-da=".s-news__container, 991" class="s-news__socials">
        <a href="#" target="_blank" class="s-news__social-btn">
          <span>Вступить в группу Телеграм</span>
          <div>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </div>
        </a>
        <a href="#" target="_blank" class="s-news__social-btn">
          <span>Вступить в группу ВК</span>
          <div>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-vk"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
    <div data-tab="tab-1" class="_active">
      <div class="swiper s-news__slider" data-slider="slider-1">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>**__Дорогие друзья!__</p>
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025». <br />
                  **ℹ️ Этот конкурс для отцов, к...
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025».
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>**__Дорогие друзья!__</p>
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025». <br />
                  **ℹ️ Этот конкурс для отцов, к...
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025».
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>**__Дорогие друзья!__</p>
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025». <br />
                  **ℹ️ Этот конкурс для отцов, к...
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div data-tab="tab-2">
      <div class="swiper s-news__slider" data-slider="slider-2">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new-2.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>**__Дорогие друзья!__</p>
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025». <br />
                  **ℹ️ Этот конкурс для отцов, к...
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new-2.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>**__Дорогие друзья!__</p>
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025». <br />
                  **ℹ️ Этот конкурс для отцов, к...
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new-2.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>**__Дорогие друзья!__</p>
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025». <br />
                  **ℹ️ Этот конкурс для отцов, к...
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new-2.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>**__Дорогие друзья!__</p>
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025». <br />
                  **ℹ️ Этот конкурс для отцов, к...
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div data-tab="tab-3">
      <div class="swiper s-news__slider" data-slider="slider-3">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>**__Дорогие друзья!__</p>
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025». <br />
                  **ℹ️ Этот конкурс для отцов, к...
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025».
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>**__Дорогие друзья!__</p>
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025». <br />
                  **ℹ️ Этот конкурс для отцов, к...
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025».
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
          <a href="#" class="swiper-slide card-new">
            <div class="card-new__gallery">
              <img
                src="@img/new.jpg"
                alt="image"
                class="card-new__gallery-img"
              />
            </div>
            <div class="card-new__body">
              <div class="card-new__content">
                <p>**__Дорогие друзья!__</p>
                <p>
                  Приглашаем Вас принять участие в региональном этапе
                  Всероссийского конкурса «Папа года 2025». <br />
                  **ℹ️ Этот конкурс для отцов, к...
                </p>
              </div>
              <div class="card-new__footer">
                <div class="card-new__date">20 апреля 2025 года</div>
                <svg>
                  <use
                    xlink:href="img/icons/icons.svg#icon-arrow-slide-next"
                  ></use>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
