.btn-clear {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn-s {
  @include flex-center;
  width: fit-content;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  padding: 15px 20px;
  cursor: pointer;

  color: white;
  font-size: 18px;

  transition:
    color 0.2s ease,
    border-color 0.2s ease,
    background-color 0.2s ease;
  @include hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  }

  &._black {
    background-color: var(--dark);
    border-color: var(--dark);
    @include hover {
      color: var(--dark);
      background-color: transparent;
    }
  }
  &._outline-black {
    background-color: transparent;
    border-color: var(--dark);
    color: var(--dark);
    @include hover {
      color: white;
      background-color: var(--dark);
    }
  }
}
