.slider-nav {
  display: flex;
  gap: 20px;
  @include mobile {
    display: none;
  }
  &._center {
    justify-content: center;
    margin-top: 45px;
    @include laptop-min {
      margin-top: 30px;
    }
  }
}
.slider-btn {
  @include flex-center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: white;
  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    opacity 0.2s ease;

  &._gray {
    background-color: var(--gray);
  }

  @include laptop-min {
    width: 45px;
    height: 45px;
  }
  @include hover {
    color: white;
    background-color: var(--primary);
  }

  &.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  svg {
    width: 25px;
    height: 25px;
    @include laptop-min {
      width: 20px;
      height: 20px;
    }
  }
}
